

.about-us{
    .about-us__container{
        display: flex;
        justify-content: space-between;
        >img{
            max-width: 464px;
        }
        .about-us__wrap{
            max-width: 539px;
        }
        h3{
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            letter-spacing: 0.02em;
            color: #000000;
        }
        p{
            margin-top: 14px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: 0.02em;
            color: #000000;
        }
    }
        .reverce {
            margin-top: 86px;
            flex-direction: row-reverse;
            align-items: center;
        }
    
}
@media screen and (max-width: 960px){
.about-us{
    h3{
        margin-top: 20px;
    }

    .about-us__container {
        flex-direction: column !important;
    }
}
  
}
// -----values-----

.values{
    
    max-width: 1100px;
    width: 100%;
    .values-container {
            margin-top: 44px;
            display: flex;
            justify-content: center;
            gap: 150px;
    }
    .values-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        max-height: 492px;
        gap: 72px;
    }
    .values-item {
        display: flex;
        align-items: center;
    }
    .values-abt {
        margin-left: 16px;
        max-width: 340px;
    }
    h1 {
        font-family: Montserrat-f;
        font-style: normal;
        font-weight: 200;
        font-size: 64px;
        line-height: 78px;
        letter-spacing: 0.02em;
        color: #4A3AD1;
    }
    h2{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.02em;
        color: #000000;
    }
    h3{
        font-weight: 600;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 0.02em;
        color: #000000;
    }
    p{
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.02em;
        color: #000000;
    }
}
@media screen and (max-width: 960px){
    .values{
       
        h1{
            min-width: 38px;
        }
    }
    .values-container{
        flex-direction: column;
        gap: 71px !important;
    }
}

// -----team-----

.team{
        .team-carousel {
            margin-top: 36px;
            width: 1110px;
        }
    
        .team-avatar {
            margin-left: auto;
            margin-right: auto;
            width: 184px;
            height: 184px;
        }
    
        .team-avatar img {
            width: 100%;
            height: 100%;
        }
    
        .team-member {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            width: 100%;
            height: 285px;
        }
    
        .name {
            margin-top: 14px;
            display: flex;
            max-width: 245px;
    
        }
    
        .name p {
            
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.02em;
            color: #000000;
            margin: 0;
        }
    
        .role {
            max-width: 200px;
            margin-top: 6px;
        }
    
        .role p {
            
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.02em;
            color: #000000;
        }
    
        .carousel-item {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 24px 74px;
        }
}

@media screen and (max-width: 960px){
    .team{
        .team-carousel{
            position: relative;
            width: calc(100% - 10px);
        }
        .team-member{
            max-width: 181px;
            margin-bottom: 40px;
        }
        .team-avatar{
            width: 148px;
            height: 148px;
            img{
                width: 148px;
                height: 148px;
            }
        }

        .name{
            max-height: 42px;
            height: 100%;
            display: flex;
            align-items: center;
        }
        .role{
            p{
                font-size: 12px;
            }
        }

        .owl-nav{
            display: flex;
            width: 100%;
            justify-content: center;
            gap: 85px;
        }

        .owl-dots{
            position: absolute;
            bottom: 15px;
            right: 40%;
            left: 40%;
            .active *{
                background: #4A3AD1 !important;
            }
        }
    }
}

// ----reports----

.reports{
    .reports-carousel{
        margin-top: 32px;
    }
    .report{
        display: flex;
        flex-direction: row;
        height: 303px;
        gap: 80px;
        .year{
            position: relative;
            display: flex;
            align-items: center;
            max-width: 88px;
            p{
                position: absolute;
                right: -88px;
                font-family: Montserrat-f;
                font-style: normal;
                font-weight: 600;
                font-size: 72px;
                line-height: 88px;
                letter-spacing: 0.02em;
                color: #6844D0;
                transform: rotate(-90deg);
            }
        }
        img{
            width: 540px;
            height: 303px;
        }
        
        .report-descr{
            max-width: 443px;
            width: 100%;
            display: flex;
            flex-direction: column;
            h2{
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 0.02em;
            }
            p{
                margin-top: 14px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
            }
            a{  
                margin-top: 50px;
                width: 234px;
                height: 56px;
            }
        }
    }
}




