.email{
    margin-top: 100px;
    width: 100%;
    height: 313px;
    padding: 47px 165px 47px 165px;
    background: url(../img/banner-email.png) no-repeat right, #4A3AD1;
    display: flex;
    justify-content: center;
    
    .email-container{
        display: flex;
        justify-content: space-between;
        max-width: 1100px;
            width: 100%;
        .email-wrapper{
            height: 210px;
            position: relative;
            max-width: 296px;
            img{
                width: 190px;
                height: auto;
            }
            p{
                margin-top: 18px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
            }
            .buttons{
                position: absolute;
                bottom: 0px;
                display: flex;
                margin-bottom: 17px;
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.02em;
                    width: 140px;
                    height: 48px;
                    border-radius: 18px;
                    border: 0px;
                }
                .contact-button{
                    background-color: #000;
                    color: #FFFFFF;
                    margin-right: 16px;
                }
                .project-button{
                    background-color: #fff;
                    color: #000;
                }
            }
        }
        .email-form{
            >a{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
            }
            .email-form__links{
                margin-top: 28px;
                a{
                    img{
                        width: 32px;
                        height: 32px;
                        margin: 0px 44px 0px 0px;
                    }
                }
            }
            .email-form__wrapper{
                margin-top: 22px;
                p{
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.02em;
                    color: #FFFFFF;
                }
                form{
                    display: flex;
                    flex-direction: column;
                    margin-top: 9px;
                    .form-wrapper{
                        display: flex;
                    }
                    textarea:focus,
                    input:focus {
                        outline: none;
                    }
                    input[type="email"] {
                        width: 324px;
                        height: 54px;
                        border: 0px;
                        border-radius: 11px 0px 0px 11px;
                        padding: 17px 24px 17px 24px;
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        letter-spacing: 0.02em;
                        &::placeholder{
                            font-family: 'Raleway';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 19px;
                            letter-spacing: 0.02em;
                        }
                    }
                    input[type="submit"]{
                        height: 54px;
                        border: 0px;
                        padding: 19px 16px 19px 16px;
                        background-color: #000;
                        color: #FFFFFF;
                        border-radius: 0px 11px 11px 0px;
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 16px;
                        letter-spacing: 0.02em;
                        cursor: pointer;
                    }
                    .checkbox{
                        margin-top: 12px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        label{
                        margin-left: 14px;
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 0.02em;
                        color: #FFFFFF; 
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px){
    .email{
        margin-top: 72px;
        padding: 30px 20px 30px 20px;
        height: 100%;
        

        .email-container{
            flex-direction: column;
            align-items: center;
           
            .email-wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: static;
                height: 100%;
                >p{
                    margin-top: 32px;
                    text-align: center;
                }
                .buttons{
                    display: flex;
                    flex-direction: column;
                    position: static;
                    margin-top: 11px;
                    margin-bottom: 0px;
                    width: 100%;
                    a{
                        height: 64px;
                        color: #000;
                        margin-top: 32px;
                        width: 100%;
                        margin-right: 0px;
                    }
                }
            }
            .email-form{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 44px;
                .email-form__links{
                    margin-top: 36px;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    a{
                        margin: 0px 22px 0px 22px;
                        img{
                            margin-right: 0px;
                        }
                    }
                }
                .email-form__wrapper{
                    form{
                        .form-wrapper{
                            justify-content: center;
                        }
                        input[type="email"]{
                            width: 70%;
                        }
                        input[type="submit"]{
                            text-align: center;
                            padding: 0px;
                            width: 30%;
                            font-weight: 600;
                            font-size: 10px;
                            line-height: 16px;
                            letter-spacing: 0.02em;
                        }
                        .checkbox{
                            label{
                                font-weight: 500;
                                font-size: 13px;
                                line-height: 15px;
                                letter-spacing: 0.02em;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
    }
}