h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 56px;
    letter-spacing: 0.02em;
    color: #000000;
}

// ---------------about------------------

.about{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    .about-wrap{
        max-width: 539px;
        position: relative;
        .about-text__p {
            margin-top: 14px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.02em;
        }
    }
    
    .about-img {
        width: 540px;
        height: 370px;
        border-radius: 12px;
    }

    .about-button{
        border: 0px;
        position: absolute;
        right: 95px;
        margin-top: 32px;
        max-width: 164px;
        height: 51px;
        width: 100%;
    }

    .about-button__mobile{
        display: none;
    }
}

@media screen and (max-width: 960px){
    .about{
        margin-top: 72px;
        flex-direction: column;
        align-items: center;
        .about-wrap,
        .about-button{
            width: 100%;
        }

        .about-text{
            display: flex;
            flex-direction: column;
            order: 1;
        }

        .about-button{
           display: none;
        }

        .about-button__mobile{
            margin-top: 20px;
            display: flex;
            text-align: center;
            height: 64px;
            border: 0px;
        }
        
        .about-img{
            margin-top: 12px;
            width: 100%;
            height: 267px;
        }

        .about-text__p{
            line-height: 19px;
        }

        .about-text__h2{
            font-weight: 600; 
            font-size: 32px;
            line-height: 38px;
        }
    }
}

// ---------------projects------------------
.projects{
    margin-top: 120px;
    .projects-container{
        position: relative;
        margin-top: 32px;
        .owl-nav{
            .owl-next,
            .owl-prev{
                z-index: 1000;
            }
            
            .disabled{
                display: block;
            }
            .owl-next{
                margin-left: 100px;
            }
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .owl-dots{
            position: absolute;
            bottom: 18px;
            width: 100%;
            display: flex;
            justify-content: center;
            .owl-dot{
                width: 7px;
                height: 7px;
                background-color: #D9D9D9;
                border-radius: 50%;
            }
            .active{
                    background-color: #4A3AD1 ;
            }
        }
    }

 
}

.projects-card {
    a{
        color: #000000;
    }
    margin-bottom: 47px;
    z-index: 20;
    border-radius: 18px;
    height: 330px;
    max-width: 350px;
    background: #F9F9F9;
    cursor: pointer;
    h3{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
    }
    p{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.02em;
        margin-top: 12px;
    }
    .card-dscr{
        padding: 18px 16px;
    }
    .card-img{
        height: 200px;
    }
    
}

@media screen and (max-width: 960px){
    .index-page{
        margin-top: 0px !important;
    }
    .projects{
        margin-top: 156px;
        .projects__h2 {
            font-weight: 600;
            font-size: 32px;
            line-height: 38px;
            letter-spacing: 0.02em;
        }

        .projects-card{
            margin-bottom: 15px;
            max-width: calc(100vw - 30px);
        }
       .projects-container{
        margin-top: 15px;
        .owl-dots{
            bottom: -30px;
        }
       }

        .owl-nav{
            position: relative;
            margin-top: 15px;
        }

        .owl-next,
        .owl-prev{
            position: absolute;
            z-index: 200;
        }

        .owl-dots{
            display: flex;
            width: 100%;
            position: absolute;
            align-items: center;
            justify-content: center;
            bottom: -47px;
            z-index: 100;
           
            .active {
                    background: #4A3AD1 !important;
                }
        }

        .owl-dot{
            width: 7px;
            height: 7px;
            background: #D9D9D9 !important;
            border-radius: 50%;
            
        }

        .owl-next{
            right:60px;
        }

        .owl-prev{
            left:60px;
        }
    }

}

// ---------------services------------------

.services{
    margin-top: 73px;
    .services-descr{
        display: flex;
        justify-content: space-between;
    }
    .services__p{
        max-width: 760px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.02em;
    }

    .services-carousel{
        margin-top: 54px;
    }

    .slide{
        h3{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
        }
        img{
            margin-top: 12px;
            width: 255px;
        }
    }
}

@media screen and (max-width: 960px){
    .services{
        margin-top: 120px;

        .services-carousel{
            margin-top: 32px;
        }
        .services-descr{
            flex-direction: column;
            >h2{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 38px;
                letter-spacing: 0.02em;
            }
            .services__p{
                margin-top: 24px;
            }
        }
       
        .owl-nav {
            position: relative;
            margin-top: 15px;
        }

        .owl-next,
        .owl-prev {
            position: absolute;
            z-index: 200;
        }

        .owl-dots {
            display: flex;
            width: 100%;
            position: absolute;
            align-items: center;
            justify-content: center;
            bottom: -47px;
            z-index: 100;
            

            .active {
                background: #4A3AD1 !important;
            }
        }

        .owl-dot {
            width: 7px;
            height: 7px;
            background: #D9D9D9 !important;
            border-radius: 50%;

        }

        .owl-next {
            right: 60px;
        }

        .owl-prev {
            left: 60px;
        }
    }
}

// ---------------partners------------------


.partners{
    margin-top: 120px;
    .partners-mobile{
        display: none;
    }
    display: flex;
    flex-direction: row;
    
    .partners-logos{
        margin-right: 84px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 180px;
            width: 100%;
            height: 131px;
            img{
                object-fit: contain;
            }
        #hoe{
            width: 96px;
            height: 66px;
        }
        #goethe{
            width: 120px;
            height: 55px;
        }
        #mfv{
            width: 120px;
            height: 36px;
        }
        }
    }
    .partners-desr{
        max-width: 443px;
        .partners-buttons{
            margin-top: 32px;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            a{
                height: 50px;
                width: 200px;
            }
        }
        .partners__p{
            margin-top: 14px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.02em;
        }
    }
    .partner-button{
       background-color: #FFFFFF;
       color: #000000;
       &:hover{
        background-color: #6844D0;
        color: #FFFFFF;
        transition: all .2s;
       }
    }
}

@media screen and (max-width: 960px){
    .partners{
        margin-top: 120px;
        
        display: flex;
        flex-direction: column;

        .partners-logos{
            margin-right: 0px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }


        .partners__h2 {
            display: none;
        }
    
        .partners-mobile {
            display: block !important;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 38px;
            letter-spacing: 0.02em;
        }
        .partners-desr{
            .partners-buttons {
                    :nth-last-child(1){
                        margin-top: 12px;
                    }
                    a {
                        width: 100%;
                    }
            
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                }
        }
    
        
    }
    
}

// ---------------support+payment------------------

.support{
    margin-top: 120px;
    .support__p{
        margin-top: 14px;
    }
}

.payment{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    position: relative;
    .payment-carousel{
        border-radius: 18px;
        box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
        width: 350px;
        height: 329px;
        .owl-nav{
            margin-top: 24px;
            position: absolute;
            right:0px;
            display: flex;
            button{
                margin: 0px 15px 0px 15px;
            }
        }
        .owl-dots{
            display: flex;
            
            margin-top: 43px;
        }
        .owl-dot {
            width: 7px;
            height: 7px;
            background-color: #D9D9D9 !important;
            border-radius: 50%;
        }
        .owl-dots .active {
            background-color: #4A3AD1 !important;
        }
    }
    .payment-item{
        width: 350px;
        height: 329px;
    }

    .item-descr{
        padding: 18px 16px 18px 16px;
    }

    .item__h3{
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
    }

    .item__p{
        margin-top: 12px;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.02em;
    }
    // ---------------liqpay------------------

    .liqpay{
        input:focus::-webkit-input-placeholder {
                opacity: 0;
            }
        
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        height: 100%;
        .liqpay-project__name{
           
            font-weight: 800;
            font-size: 32px;
            line-height: 38px;
            letter-spacing: 0.02em;
            color: #000000;
        }
        .select-summ{
            margin-top: 8px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.02em;
        
            color: #000000;
        }
        .summ-buttons{
            margin-top: 32px;
            
            display: flex;
            justify-content: center;
            button{
                margin: 0px 16px 0px 16px;
                width: 113px;
                height: 44px;
                border: 1px solid #6844D0;
                border-radius: 24px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.02em;
                color: #000000;
                background: transparent;
                cursor: pointer;
                &:hover{
                    transition: 0.2s;
                    background-color: #6844D0;
                    color: white;
                }
            }
        }
        input {
            width: 635px;
            height: 64px;
            padding: 16px 18px 16px 18px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.02em;
            color: #000000;
            border: 0px;
            outline: none;
            border-bottom: 2px solid black;
            &:focus{
                outline: none;
            }
            &::placeholder {
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 28px;
                    letter-spacing: 0.02em;
                    color: #000000;
            }
        }
        
        form{
            margin-top: 63px;
        }
        .cleaner {
            width: 32px;
            height: 32px;
            cursor: pointer;
            background: transparent;
            border: 0px;
            position: relative;
            bottom: 50px;
            left: 603px;
        }
        .form-wrapper {
            display: flex;
            justify-content: space-evenly;
            input{
            width: 162px;
            height: 53px;
            background: #6844D0;
            border-radius: 18px;
            border: 0px;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            }
            input[type="submit"] {
                font-size: 14px;
            }
            img{
                max-height: 53px;
                max-width: 138px;
            }
        }

        .form-wrapper input:hover {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 960px){
    .support{
        margin-top: 72px;
        .support__h2{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 38px;
            letter-spacing: 0.02em;
        }
        .support__p{
            margin-top: 12px;
        }
    }   
     .payment{
        margin-top: 38px;
        flex-direction: column;
        align-items: center;
        .owl-nav{
            button{
                margin: 0px 22px 0px 22px;
            }
        }
    }
    .liqpay{
        max-width: calc(100% - 10px);
        margin-top: 128px;
        input[type="submit"]{
            height: 64px !important;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.02em;
        }
        input{
            width: 100% !important;
        }
        .cleaner {
            left: calc(100% - 30px) !important;
        }
        .form-wrapper{
            flex-direction: column;
            align-items: center; 
            img{
                margin-top: 20px;
            }
        }
        .summ-buttons{
            button{
                
                max-width: 120px;
                width: 100%;
                margin: 0px 15px 0px 15px;
            }
        }
    }
}


// ---------------news------------------

.news{
    margin-top: 166px;
    .news__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        .news__card{
            text-decoration: none;
            display: flex;
            flex-direction: column;
            margin-top: 24px;
            max-width: 255px;
            >img{
                border-radius: 8px;
                object-fit: cover;
            }
            .news__card-description{
                position: relative;
                margin-top: 14px;
                display: flex;
                flex-direction: column;
                h3{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                }
                p{
                margin-top: 8px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                letter-spacing: 0.02em;
                color: #000;
                }
                .date{
                position: absolute;
                top: 0;
                right: 0;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;
                text-align: right;
                letter-spacing: 0.02em;
                color: #000000;
                }
            }
        }
    }
    .news-button{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 44px;
        a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 51px;
        border: 1px solid #6844D0;
        border-radius: 18px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.02em;
        color: #000;
        transition: all .2s;
        &:hover{
            background-color: #6844D0;
            border: 1px solid #fff;
            color: #FFFFFF;
        }
        }
    }
}

@media screen and (max-width: 960px){
.news{
    .news__wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr fr;
        .news__card {
                max-width: 181px;
            }
    }
    .news-button{
        a{
            width: 100%;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.02em;
            color: #000000;
        }
    }
}
}

























// ---------------owl-navigation------------------

.owl-dot{
    margin: 3px;
}

.owl-next,
.owl-prev {
    span {
        display: none;
    }
    width: 72px;
    height: 48px;
    border: 1px solid #6844D0 !important;
    border-radius: 18px !important;
}


.owl-next {
    background: url(../img/next.svg) no-repeat center !important;
}

.owl-prev {
    background: url(../img/prev.svg) no-repeat center !important;
}

.disabled{
    display: none;
}