*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'nav';
@import 'hero';
@import 'index';
@import 'footer';
@import 'about';
@import 'projects';
@import 'services';


@font-face {
    font-family: Raleway-f;
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: Raleway-b;
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: Raleway-eb;
    src: url(../fonts/Raleway-ExtraBold.ttf);
}
@font-face {
    font-family: Raleway-sb;
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: Raleway-black;
    src: url(../fonts/Raleway-SemiBold.ttf);
}


@font-face {
    font-family: Montserrat-f;
    src: url(../fonts/Montserrat-Regular.ttf);
}

:root{
    --index: calc(1vw+1vh); 
    --button-color: #6844D0;
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
}


body{
    color: #000;
    background-color: #fff;
    overflow-x: hidden;
    font-family: Raleway-f;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }

}

@media screen and (max-width: 960px){
    html,body{
        overflow-x: hidden;
    }
}

a{
    all: none;
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.02em;
    color: #000000;
}

.button {
    background-color: var(--button-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    border: 1px solid #4A3AD1;
    cursor: pointer;
    font-family: Raleway-b;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #fff;
}

@media screen and (max-width: 960px){
    .button{
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.02em;
    }
    section{
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-content{
        gap: 72px !important;
    }
}


.main-content{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-top: 100px;
    section{
        max-width: 1100px;
        width: 100%;
    }
}

// -----modals-----

.modal {
    width: 100%;
    height: 395px;
    max-width: 734px !important;
    background-color: #fff;
    border-radius: 15px !important;
    padding: 0px !important;
    a.close-modal {
        top: 32px !important;
        right: 32px !important;
        background: url(../img/main/close.svg) !important;
    }
    

}

.team-modal{
    .team-avatar{
        width: 300px;
        height: 395px;
        position: relative;
        img{
            object-fit: cover;
            position: absolute;
            max-width: 300px;
            max-height: 395px;
            border-radius: 15px 0px 0px 15px;
        }
    }
    .modal-container {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        display: flex;
        gap: 52px;
        align-items: center;
        flex-direction: row;
        position: relative;

        .modal-wrap {
            max-width: 350px;
            display: flex;
            flex-direction: column;

            .name {
                h1 {
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 38px;
                    letter-spacing: 0.02em;
                }
            }

            .role {
                p {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.02em;
                }
            }

            .social {
                height: 24px;
                border: 1px solid black;
                margin-top: 32px;
                display: flex;
                flex-direction: row;
                // gap:
            }

            .descr {
                margin-top: 24px;
            }

        }

    }

    .team-mobile-img {
        display: none !important;
    }
}

@media screen and (max-width: 960px){
.modal {
    max-width: 300px !important;
    min-height: 695px;
    .modal-container{
        flex-direction: column;
        .team-desktop-img{
            display:none;
        }
        .team-mobile-img{
            display: block !important;
        }
            img{
                object-fit: cover;
                height: 322px !important;
                border-radius: 15px 15px 0px 0px !important;
                
            }
    }
 a.close-modal {
     display: none !important;
 }
}
.team-modal{
    .modal-wrap{
        margin-top: 64px;
        justify-content: center;
        height: 100%;
        bottom: 0px;
        padding: 20px;
        .name{
            h1{
                font-weight: 600;
                font-size: 24px !important;
                line-height: 28px !important;
                letter-spacing: 0.02em;
            }
        }
        .role{
            p{
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
            }
        }

        .descr{
            p{
                font-weight: 400;
                font-size: 14px;
                line-height: 120%;
            }
        }
    }
    .team-avatar{
        width: 100%;
        height: 322px;
        position: relative;
        img{
            width: 322px;
            height: 300px;
            
        }
    }

}
}