* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-mobile {
  display: none;
}

.current-page {
  display: none;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #FFFFFF;
  height: 100px;
}
.navbar .navbar-logo img {
  width: 156px;
  height: 45px;
}
.navbar a {
  text-decoration: none;
}

.navbar__mobile-lang {
  display: none;
}

.menu-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style: none;
}
.menu-list .main-page {
  display: none;
}
.menu-list .menu-list__item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  margin: 0px 16px 0px 16px;
}
.menu-list .menu-list__item a {
  color: #000;
}
.menu-list .menu-list__item .current-a {
  font-weight: 600;
}

.nav-wrap {
  display: flex;
  align-items: center;
}
.nav-wrap .nav-lang {
  display: flex;
  margin-right: 32px;
  text-decoration: none;
  align-items: center;
}
.nav-wrap .nav-lang .nav-lang__img {
  margin-right: 4px;
}
.nav-wrap .nav-lang .lang-active {
  margin-right: 12px;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 16px !important;
}
.nav-wrap .nav-lang a {
  color: #000;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

.nav-button {
  width: 148px;
  height: 48px;
}

#checkbox__toggle {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.nav-line {
  background-color: #4A3AD1;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
  content: "";
}
.nav-line::before, .nav-line::after {
  background-color: #4A3AD1;
  content: "";
  display: block;
  position: absolute;
  transition: al 0.3s;
  width: 100%;
  height: 2px;
}
.nav-line::before {
  top: 7px;
}
.nav-line::after {
  top: -7px;
}

@media screen and (max-width: 960px) {
  .current-page {
    display: block;
  }
  .current-page h1 {
    margin-left: 21px;
    margin-bottom: 32px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.02em;
  }
  .navbar {
    justify-content: space-between;
    padding-left: 21px;
    padding-right: 21px;
  }
  .menu {
    z-index: 100;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    background-color: #fff;
  }
  .menu .menu-list {
    margin-top: 20px;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 32px;
    background: url(../img/burger-mobile__bg.png) no-repeat right;
  }
  .menu .menu-list .main-page {
    display: block;
  }
  .menu .menu-list :last-child {
    margin-bottom: 0px;
  }
  .menu .menu-list__item {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 0.02em;
    margin: 0px 0px 5vh 0px;
  }
  .menu .menu-list__item .current-a {
    font-size: 22px;
    font-weight: 700;
  }
  .menu .menu-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    padding-bottom: 20px;
  }
  .menu .menu-mobile .nav-lang {
    display: flex;
    margin-top: 30px;
    align-items: center;
  }
  .menu .menu-mobile .nav-lang .lang-ua {
    margin-right: 32px;
  }
  .menu .menu-mobile .nav-lang .nav-lang__img {
    margin-right: 6px;
  }
  .menu .menu-mobile .nav-lang .lang {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
  }
  .menu .menu-mobile .nav-lang .lang-active {
    font-family: "Raleway";
    font-style: normal;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
  }
  .menu .button {
    width: 80%;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  #checkbox__toggle:checked ~ .menu {
    display: block;
    min-height: 100%;
    transition: all 0.5s;
  }
  #checkbox__toggle:checked ~ .hamburger .nav-line {
    background-color: transparent;
  }
  #checkbox__toggle:checked ~ .hamburger .nav-line::before {
    transform: rotate(-45deg);
    top: 0;
  }
  #checkbox__toggle:checked ~ .hamburger .nav-line::after {
    transform: rotate(45deg);
    top: 0;
  }
  .hamburger {
    display: block;
    padding: 20px 0;
  }
  .nav-wrap {
    display: none;
  }
}
.hero {
  height: 610px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 165px;
}

.hero-text h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.hero-text p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.hero-main {
  background: url(../img/main/hero.svg) center center/cover;
}
.hero-main h1 {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.hero-main .link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 14px 22px 14px;
  background: #FFFFFF;
  border-radius: 12px 0px 0px 12px;
  gap: 36px;
  right: 0;
  position: absolute;
}

.hero-about {
  background: url(../img/about/hero.svg) center center/cover;
}

.hero-projects {
  background: url(../img/projects//hero.svg) center center/cover;
}

.hero-services {
  background: url(../img/services/hero.svg) center center/cover;
}

.hero-partners {
  background: url(../img/partners/hero.svg) center center/cover;
}

@media screen and (max-width: 960px) {
  .hero {
    padding: 0px 20px 0px 20px;
    height: 350px;
  }
  .hero-main {
    height: 600px;
    background: url(../img/main/hero-mob.svg) center center/cover;
    justify-content: center;
  }
  .hero-main .link {
    padding: 18px 35px 18px 35px;
    gap: 64px;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: 60px;
    margin-right: 60px;
    max-height: 64px;
    flex-direction: row;
    border-radius: 12px 12px 0px 0px;
    border: 0px;
  }
  .hero-main .link img {
    width: 28px;
    height: 28px;
  }
  .hero-main .hero-text {
    margin-left: 0px;
  }
  .hero-main .hero-text h1 {
    font-weight: 900;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .hero-main .hero-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
  }
  .hero-about .hero-text h1 {
    display: none;
  }
  .hero-services {
    background: url(../img/services/hero-mob.svg) center center/cover;
  }
  .hero-services .hero-text {
    display: none;
  }
  .hero-partners {
    background: url(../img/partners/hero-mob.svg) center center/cover;
  }
  .hero-partners .hero-text h1 {
    display: none;
  }
  .hero-projects .hero-text {
    display: none;
  }
}
h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: #000000;
}

.about {
  display: flex;
  justify-content: space-between;
}
.about .about-wrap {
  max-width: 539px;
  position: relative;
}
.about .about-wrap .about-text__p {
  margin-top: 14px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.about .about-img {
  width: 540px;
  height: 370px;
  border-radius: 12px;
}
.about .about-button {
  position: absolute;
  right: 95px;
  margin-top: 32px;
  max-width: 162px;
  height: 51px;
  width: 100%;
}
.about .about-button__mobile {
  display: none;
}

@media screen and (max-width: 960px) {
  .about {
    flex-direction: column;
    align-items: center;
  }
  .about .about-wrap,
  .about .about-button {
    width: 100%;
  }
  .about .about-text {
    display: flex;
    flex-direction: column;
    order: 1;
  }
  .about .about-button {
    display: none;
  }
  .about .about-button__mobile {
    margin-top: 20px;
    display: flex;
    text-align: center;
    height: 69px;
  }
  .about .about-img {
    margin-top: 12px;
    width: 100%;
    height: 267px;
  }
  .about .about-text__p {
    line-height: 19px;
  }
  .about .about-text__h2 {
    font-weight: 600px;
    font-size: 36px;
    line-height: 42px;
  }
}
.projects {
  margin-top: 72px;
}
.projects .projects-container {
  margin-top: 32px;
}

.projects-card {
  margin-bottom: 47px;
  z-index: 20;
  border-radius: 18px;
  height: 330px;
  max-width: 350px;
  background: #F9F9F9;
  cursor: pointer;
}
.projects-card h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}
.projects-card p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin-top: 12px;
}
.projects-card .card-dscr {
  padding: 18px 16px;
}

@media screen and (max-width: 960px) {
  .projects {
    margin-top: 140px;
  }
  .projects .projects__h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.02em;
  }
  .projects .projects-card {
    margin-bottom: 15px;
  }
  .projects .projects-container {
    margin-top: 15px;
  }
  .projects .owl-nav {
    position: relative;
    margin-top: 15px;
  }
  .projects .owl-next,
  .projects .owl-prev {
    position: absolute;
    z-index: 200;
  }
  .projects .owl-dots {
    display: flex;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: -47px;
    z-index: 100;
  }
  .projects .owl-dots .active {
    background: #4A3AD1 !important;
  }
  .projects .owl-dot {
    width: 7px;
    height: 7px;
    background: #D9D9D9 !important;
    border-radius: 50%;
  }
  .projects .owl-next {
    right: 60px;
  }
  .projects .owl-prev {
    left: 60px;
  }
}
.services {
  margin-top: 100px;
}
.services .services-descr {
  display: flex;
  justify-content: space-between;
}
.services .services__p {
  max-width: 760px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.services .services-carousel {
  margin-top: 54px;
}
.services .slide h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.services .slide img {
  margin-top: 12px;
  width: 255px;
}

@media screen and (max-width: 960px) {
  .services {
    margin-top: 90px;
  }
  .services .services-carousel {
    margin-top: 32px;
  }
  .services .services-descr {
    flex-direction: column;
  }
  .services .services-descr .services__p {
    margin-top: 24px;
  }
  .services .owl-nav {
    position: relative;
    margin-top: 15px;
  }
  .services .owl-next,
  .services .owl-prev {
    position: absolute;
    z-index: 200;
  }
  .services .owl-dots {
    display: flex;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: -47px;
    z-index: 100;
  }
  .services .owl-dots .active {
    background: #4A3AD1 !important;
  }
  .services .owl-dot {
    width: 7px;
    height: 7px;
    background: #D9D9D9 !important;
    border-radius: 50%;
  }
  .services .owl-next {
    right: 60px;
  }
  .services .owl-prev {
    left: 60px;
  }
}
.partners {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}
.partners .partners-mobile {
  display: none;
}
.partners .partners-logos {
  margin-right: 84px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.partners .partners-logos .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 180px;
  width: 100%;
  height: 131px;
}
.partners .partners-logos .logo img {
  -o-object-fit: contain;
     object-fit: contain;
}
.partners .partners-logos .logo #hoe {
  width: 96px;
  height: 66px;
}
.partners .partners-logos .logo #goethe {
  width: 120px;
  height: 55px;
}
.partners .partners-logos .logo #mfv {
  width: 120px;
  height: 36px;
}
.partners .partners-desr {
  max-width: 443px;
}
.partners .partners-desr .partners__p {
  margin-top: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.partners .partners-button {
  margin-top: 32px;
  width: 206px;
  height: 50px;
}

@media screen and (max-width: 960px) {
  .partners {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
  }
  .partners .partners-logos {
    margin-right: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .partners .partners__h2 {
    display: none;
  }
  .partners .partners-mobile {
    display: block !important;
  }
  .partners .partners-button {
    width: 100%;
    height: 69px;
  }
}
.support {
  margin-top: 100px;
}
.support .support__p {
  margin-top: 14px;
}

.payment {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.payment .payment-carousel {
  border-radius: 18px;
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 329px;
}
.payment .payment-carousel .owl-nav {
  margin-top: 24px;
  position: absolute;
  right: 0px;
  display: flex;
}
.payment .payment-carousel .owl-nav button {
  margin: 0px 15px 0px 15px;
}
.payment .payment-carousel .owl-dots {
  display: flex;
  margin-top: 43px;
}
.payment .payment-carousel .owl-dot {
  width: 7px;
  height: 7px;
  background-color: #D9D9D9 !important;
  border-radius: 50%;
}
.payment .payment-carousel .owl-dots .active {
  background-color: #4A3AD1 !important;
}
.payment .payment-item {
  width: 350px;
  height: 329px;
}
.payment .item-descr {
  padding: 18px 16px 18px 16px;
}
.payment .item__h3 {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}
.payment .item__p {
  margin-top: 12px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.02em;
}
.payment .liqpay {
  height: 100%;
}
.payment .liqpay input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.payment .liqpay input::-webkit-outer-spin-button,
.payment .liqpay input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.payment .liqpay .liqpay-project__name {
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.02em;
  color: #000000;
}
.payment .liqpay .select-summ {
  margin-top: 8px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #000000;
}
.payment .liqpay .summ-buttons {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}
.payment .liqpay .summ-buttons button {
  margin: 0px 16px 0px 16px;
  width: 113px;
  height: 44px;
  border: 1px solid #6844D0;
  border-radius: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #000000;
  background: transparent;
  cursor: pointer;
}
.payment .liqpay .summ-buttons button:hover {
  transition: 0.2s;
  background-color: #6844D0;
  color: white;
}
.payment .liqpay input {
  width: 635px;
  height: 64px;
  padding: 16px 18px 16px 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #000000;
  border: 0px;
  outline: none;
  border-bottom: 2px solid black;
}
.payment .liqpay input:focus {
  outline: none;
}
.payment .liqpay input::-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #000000;
}
.payment .liqpay input::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #000000;
}
.payment .liqpay form {
  margin-top: 63px;
}
.payment .liqpay .cleaner {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent;
  border: 0px;
  position: relative;
  bottom: 50px;
  left: 603px;
}
.payment .liqpay .form-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.payment .liqpay .form-wrapper input {
  width: 162px;
  height: 53px;
  background: #6844D0;
  border-radius: 18px;
  border: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.payment .liqpay .form-wrapper img {
  max-height: 53px;
  max-width: 138px;
}
.payment .liqpay .form-wrapper input:hover {
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .support {
    margin-top: 42px;
  }
  .payment {
    flex-direction: column;
    align-items: center;
  }
  .payment .owl-nav button {
    margin: 0px 22px 0px 22px;
  }
  .liqpay {
    max-width: calc(100% - 10px);
    margin-top: 128px;
  }
  .liqpay input {
    width: 100% !important;
  }
  .liqpay .cleaner {
    left: calc(100% - 30px) !important;
  }
  .liqpay .form-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .liqpay .form-wrapper img {
    margin-top: 20px;
  }
  .liqpay .summ-buttons button {
    max-width: 120px;
    width: 100%;
    margin: 0px 15px 0px 15px;
  }
}
.owl-dot {
  margin: 3px;
}

.owl-next,
.owl-prev {
  width: 72px;
  height: 48px;
  border: 1px solid #6844D0 !important;
  border-radius: 18px !important;
}
.owl-next span,
.owl-prev span {
  display: none;
}

.owl-next {
  background: url(../img/next.svg) no-repeat center !important;
}

.owl-prev {
  background: url(../img/prev.svg) no-repeat center !important;
}

.disabled {
  display: none;
}

footer {
  background-color: #000;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  height: 100%;
  width: 100%;
}
footer .footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-top: 64px;
}
footer .footer-container .footer-item {
  margin: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
footer .footer-container .footer-item .footer-links {
  display: flex;
  flex-direction: column;
}
footer .footer-container .footer-item .footer-links a {
  margin: 7px 0px 7px 0px;
  font-style: normal;
  font-weight: 250;
  font-size: 12px;
  line-height: 13px;
  color: #FFFFFF;
}
footer .footer-container .footer-item .footer__h2 {
  font-family: "Raleway";
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
footer .license {
  color: #FFFFFF;
  font-family: Montserrat-f;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  margin-top: 63px;
  margin-bottom: 14px;
  color: #FFFFFF;
}

@media screen and (max-width: 960px) {
  footer {
    padding: 0px 30px 0px 30px;
  }
  footer .license {
    margin-bottom: 30px;
  }
  footer .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer a {
    font-style: normal;
    font-weight: 250;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
  }
}
.about-page section {
  margin-top: 100px;
}

@media screen and (max-width: 960px) {
  .services-page section {
    margin-top: 72ppx;
  }
  .about-page-wrapper .main-content {
    margin-top: 0px;
  }
}
.about-us .about-us__container {
  display: flex;
  justify-content: space-between;
}
.about-us .about-us__container > img {
  max-width: 464px;
}
.about-us .about-us__container .about-us__wrap {
  max-width: 539px;
}
.about-us .about-us__container h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.02em;
  color: #000000;
}
.about-us .about-us__container p {
  font-family: "Raleway";
  margin-top: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}
.about-us .reverce {
  margin-top: 86px;
  flex-direction: row-reverse;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .about-us h3 {
    margin-top: 20px;
  }
  .about-us .about-us__container {
    flex-direction: column !important;
  }
}
.values {
  max-width: 1100px;
  width: 100%;
}
.values .values-container {
  margin-top: 44px;
  display: flex;
  justify-content: center;
  gap: 150px;
}
.values .values-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 492px;
  gap: 72px;
}
.values .values-item {
  display: flex;
  align-items: center;
}
.values .values-abt {
  margin-left: 16px;
  max-width: 340px;
}
.values .values-abt p {
  margin-top: 8px;
}
.values h1 {
  font-family: Montserrat-f;
  font-style: normal;
  font-weight: 200;
  font-size: 64px;
  line-height: 78px;
  letter-spacing: 0.02em;
  color: #4A3AD1;
}
.values h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}
.values h3 {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: #000000;
}
.values p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #000000;
}

@media screen and (max-width: 960px) {
  .values {
    margin-top: 72px;
  }
  .values h1 {
    min-width: 38px;
  }
  .values-container {
    flex-direction: column;
    gap: 71px !important;
  }
}
.team h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.02em;
}
.team .team-carousel {
  margin-top: 36px;
  width: 1110px;
}
.team .team-avatar {
  margin-left: auto;
  margin-right: auto;
  width: 184px;
  height: 184px;
}
.team .team-avatar img {
  width: 100%;
  height: 100%;
}
.team .team-member {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  height: 285px;
}
.team .name {
  margin-top: 14px;
  display: flex;
  max-width: 245px;
}
.team .name p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #000000;
  margin: 0;
}
.team .role {
  max-width: 200px;
  margin-top: 6px;
}
.team .role p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #000000;
}
.team .carousel-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 24px 74px;
}

@media screen and (max-width: 960px) {
  .team {
    margin-top: 72px;
  }
  .team .team-carousel {
    position: relative;
    width: calc(100% - 10px);
  }
  .team .team-member {
    max-width: 181px;
    margin-bottom: 20px;
  }
  .team .team-avatar {
    width: 148px;
    height: 148px;
  }
  .team .team-avatar img {
    width: 148px;
    height: 148px;
  }
  .team .name {
    max-height: 42px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .team .role p {
    font-size: 12px;
  }
  .team .owl-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 85px;
  }
  .team .owl-dots {
    position: absolute;
    bottom: 15px;
    right: 40%;
    left: 40%;
  }
  .team .owl-dots .active * {
    background: #4A3AD1 !important;
  }
}
.reports h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.02em;
}
.reports h2 {
  margin-top: 14px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}
.reports .owl-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.reports .owl__img {
  width: 540px;
  height: 303px;
  display: flex;
  justify-content: center;
}
.reports .year {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100px;
  width: 192px;
  transform: rotate(-90deg);
}
.reports .year p {
  font-family: Montserrat-f;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.02em;
  color: #6844D0;
}
.reports .report__descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 443px;
  margin-left: 80px;
}
.reports .report__descr p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-top: 10px;
}
.reports .report__descr a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.reports .report__download {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px 16px 24px;
  gap: 10px;
  width: 234px;
  height: 56px;
  background: #6844D0;
  border-radius: 18px;
  margin-top: 16px;
}
.reports .dwnld img {
  width: 24px;
  height: 24px;
}
.reports .owl-dots {
  display: flex;
  justify-content: space-around;
}
.reports .owl-theme .owl-dots .owl-dot.active span,
.reports .owl-theme .owl-dots .owl-dot:hover span {
  background: #6844D0;
}
.reports .owl-theme .owl-dots .owl-dot span {
  width: 16px;
  height: 16px;
}
.reports .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 90px;
}
.reports .years {
  display: flex;
  justify-content: space-around;
}
.reports .reports .owl-dots button {
  margin-top: 22px;
}
.reports .reports .owl-dots .active {
  font-weight: 800;
}
.reports .reports-carousel .owl-dots button:before {
  font-family: Montserrat-f;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #000000;
}
.reports button.owl-dot.active::before {
  font-weight: 800;
}
.reports .reports-carousel .owl-dots button:nth-child(1):before {
  content: "2017";
}
.reports .reports-carousel .owl-dots button:nth-child(2):before {
  content: "2018";
}
.reports .reports-carousel .owl-dots button:nth-child(3):before {
  content: "2019";
}
.reports .reports-carousel .owl-dots button:nth-child(4):before {
  content: "2020";
}
.reports .reports-carousel .owl-dots button:nth-child(5):before {
  content: "2021";
}
.reports .reports-carousel .owl-dots button:nth-child(6):before {
  content: "2022";
}
.reports .reports-carousel .owl-dots button {
  display: flex !important;
  flex-direction: column-reverse;
  align-items: center;
  gap: 22px;
}

@media screen and (max-width: 960px) {
  .reports {
    margin-top: 72px;
  }
  .reports .owl-carousel {
    margin-top: 24px;
  }
  .reports .owl-carousel .owl-item {
    height: 550px;
  }
  .reports .year {
    display: none;
  }
  .reports .owl-item {
    flex-direction: column;
  }
  .reports .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0px;
  }
  .reports .owl__img {
    width: 100%;
    height: 217px;
  }
  .reports .report__descr {
    display: flex;
    margin: 0px;
    width: 100%;
  }
  .reports .report__descr h2 {
    margin-top: 24px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  .reports .report__descr p {
    height: 180px;
    margin-top: 12px;
  }
  .reports .report__descr a {
    width: 100%;
  }
}
.project-page :nth-child(1) {
  margin-top: 0px;
}
.project-page .right {
  flex-direction: row-reverse;
}
.project-page .right .project-descr {
  margin-right: 95px;
  margin-left: 0px;
}
.project-page section {
  max-width: 1440px !important;
  margin-top: 100px;
}
.project-page .project {
  display: flex;
}
.project-page .project .project-descr {
  margin-left: 95px;
  max-width: 540px;
}
.project-page .project .project-descr h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.02em;
  color: #000000;
}
.project-page .project .project-descr p {
  margin-top: 8px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #000000;
}
.project-page .project .project-descr button {
  margin-top: 32px;
  height: 51px;
  width: 162px;
  background-color: transparent;
  color: #000;
}
.project-page .project .project-descr button:hover {
  background-color: #6844D0;
  color: #fff;
  transition: all 0.2s;
}

@media screen and (max-width: 960px) {
  .project-page .project {
    flex-direction: column;
  }
  .project-page .project .project-descr {
    margin: 0px;
  }
  .project-page .project .project-descr h1 {
    margin-top: 14px;
  }
  .project-page .project .project-descr button {
    width: 100%;
    height: 55px;
  }
}
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}

.services-page h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.02em;
  color: #000000;
}
.services-page .experience .experience-wrap {
  display: flex;
  justify-content: center;
}
.services-page .experience .experience-wrap p {
  margin-top: 18px;
  max-width: 919px;
  width: 100%;
}
.services-page .our-services {
  margin-top: 64px;
}
.services-page .our-services .services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 31px;
  grid-gap: 24px 30px;
}
.services-page .our-services .card {
  max-width: 540px;
  height: 271px;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  width: 100%;
  color: whitesmoke;
  border-radius: 12px;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
.services-page .our-services .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.services-page .our-services .card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.services-page .our-services .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-left: 24px;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.services-page .our-services .content > * + * {
  margin-top: 1rem;
}
.services-page .our-services .title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.services-page .our-services .copy {
  width: 492px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.services-page .our-services .card .btn {
  width: 125px;
  height: 43px;
  cursor: pointer;
  color: white;
  border: 1px solid #FFFFFF;
  border-radius: 18px;
  background-color: transparent;
  margin-left: 359px;
  margin-right: 32px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
}
@media (hover: hover) and (min-width: 600px) {
  .services-page .our-services .card:after {
    transform: translateY(0);
  }
  .services-page .our-services .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .services-page .our-services .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .services-page .our-services .card:hover,
  .services-page .our-services .card:focus-within {
    align-items: center;
  }
  .services-page .our-services .card:hover:before,
  .services-page .our-services .card:focus-within:before {
    transform: translateY(-4%);
  }
  .services-page .our-services .card:hover:after,
  .services-page .our-services .card:focus-within:after {
    transform: translateY(-50%);
  }
  .services-page .our-services .card:hover .content,
  .services-page .our-services .card:focus-within .content {
    transform: translateY(0);
  }
  .services-page .our-services .card:hover .content > *:not(.title),
  .services-page .our-services .card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }
  .services-page .our-services .card:focus-within:before,
  .services-page .our-services .card:focus-within:after,
  .services-page .our-services .card:focus-within .content,
  .services-page .our-services .card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}
.services-page .our-services .card:nth-child(1):before {
  background: url(../img/services/service-1.svg) center center/cover;
}
.services-page .our-services .card:nth-child(2):before {
  background: url(../img/services/service-2.svg) center center/cover;
}
.services-page .our-services .card:nth-child(3):before {
  background: url(../img/services/service-3.svg) center center/cover;
}
.services-page .our-services .card:nth-child(4):before {
  background: url(../img/services/service-4.svg) center center/cover;
}
@media screen and (max-width: 960px) {
  .services-page .our-services {
    margin-top: 64px;
  }
  .services-page .our-services .services-grid {
    grid-template-columns: 1fr;
  }
  .services-page .our-services .copy {
    width: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }
  .services-page .our-services .card {
    max-width: 386px;
    height: 332px;
    padding: 0 24px 18px 24px;
  }
  .services-page .our-services .content {
    width: 100%;
    padding-left: 0px;
  }
  .services-page .our-services .services {
    display: flex;
    flex-direction: column;
    max-width: 540px;
  }
  .services-page .our-services .card .btn {
    margin: 0px;
    margin-top: 24px;
    width: 100%;
    border-radius: 12px;
  }
}

.partners-page section {
  margin-top: 100px;
}
.partners-page .financial-partners {
  margin-top: 0px;
}
.partners-page .partners-descr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partners-page .partners-descr h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: #000000;
}
.partners-page .partners-descr p {
  max-width: 538px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}
.partners-page .financial-partners,
.partners-page .project-partners {
  display: flex;
  flex-direction: column;
}
.partners-page .owl-carousel {
  position: relative;
  margin-top: 40px;
  height: 400px;
}
.partners-page .partners-item {
  width: 100%;
  height: 117px;
  max-width: 350px;
}
.partners-page .owl-nav {
  margin-top: 52px;
  display: flex;
  justify-content: center;
  gap: 193px;
}
.partners-page .owl-nav button {
  z-index: 20;
}
.partners-page .owl-nav .disabled {
  display: block;
}
.partners-page .owl-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: -35px;
  display: flex;
  gap: 7px;
}
.partners-page .owl-dots .active {
  background-color: #4A3AD1 !important;
}
.partners-page .owl-dots .owl-dot {
  width: 9px;
  height: 9px;
  background-color: #D9D9D9;
  border-radius: 50%;
}

.banner {
  padding-left: 192px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
  height: 350px;
  background: url(../img/partners/banner.png) center center/cover;
}
.banner h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.banner p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.banner button {
  margin-top: 28px;
  width: 167px;
  height: 51px;
}

.partners-right {
  flex-direction: row-reverse;
}

@media screen and (max-width: 960px) {
  .partners-page .partners-descr {
    flex-direction: column !important;
  }
  .partners-page .owl-nav {
    gap: 160px;
  }
  .partners-page p {
    margin-top: 12px;
  }
  .banner {
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 62px 0px 44px 0px;
  }
  .banner h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .banner p {
    margin-top: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .banner button {
    bottom: 44px;
    position: absolute;
    max-width: 314px;
    width: 100%;
  }
}
.news-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.news-page section {
  max-width: 1100px;
  width: 100%;
}
.news-page .news {
  margin-top: 64px;
  display: flex;
}
.news-page .news .news-img {
  max-width: 540px;
}
.news-page .news .news-descr {
  margin-left: 30px;
  position: relative;
  max-width: 540px;
  display: flex;
  flex-direction: column;
}
.news-page .news .news-descr h1 {
  margin-top: 18px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.02em;
  color: #000000;
}
.news-page .news .news-descr > p {
  margin-top: 18px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #000000;
}
.news-page .news .news-descr a {
  position: absolute;
  bottom: 0px;
  width: 154px;
  height: 51px;
  background-color: transparent;
  color: #000000;
  transition: all 0.2s;
}
.news-page .news .news-descr a:hover {
  background-color: #6844D0;
  color: #fff;
}
.news-page .news .news-descr .tegs {
  display: flex;
}
.news-page .news .news-descr .tegs .teg {
  cursor: pointer;
  height: 22px;
  background-color: #EDEDED;
  text-align: center;
  padding: 4px 12px 4px 12px;
  border-radius: 4px;
  margin-right: 12px;
}
.news-page .news .news-descr .tegs .teg p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #000000;
}
.news-page .more-news {
  margin-top: 72px;
}
.news-page .more-news h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #000000;
}
.news-page .owl-carousel {
  position: relative;
  margin-top: 24px;
}
.news-page .owl-carousel .owl-dots {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 20px;
}
.news-page .owl-carousel .owl-dots .active {
  background-color: #6844D0 !important;
}
.news-page .owl-carousel .owl-dots .owl-dot {
  width: 9px;
  height: 9px;
  background-color: #d9d9d9;
  border-radius: 50%;
}
.news-page .owl-carousel .owl-nav {
  display: flex;
  justify-content: center;
}
.news-page .owl-carousel .owl-nav button {
  z-index: 100;
  margin: 0px 68px 0px 68px;
}
.news-page .owl-carousel .owl-nav .disabled {
  display: block;
}
.news-page .owl-carousel .news-item .news-container {
  margin-bottom: 32px;
  max-width: 526px;
  width: 100%;
  height: 160px;
  display: flex;
}
.news-page .owl-carousel .news-item .news-container .news-img {
  max-width: 255px;
  width: 100%;
}
.news-page .owl-carousel .news-item .news-container .news-wrap {
  position: relative;
  max-width: 270px;
  width: 100%;
  margin-left: 16px;
}
.news-page .owl-carousel .news-item .news-container .news-wrap h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #000000;
}
.news-page .owl-carousel .news-item .news-container .news-wrap > p {
  margin-top: 8px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #000000;
}
.news-page .owl-carousel .news-item .news-container .news-wrap .date {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: Montserrat-f;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #000000;
}

@media screen and (max-width: 960px) {
  .news-page .news {
    flex-direction: column;
  }
  .news-page .news .news-descr {
    margin-left: 0px;
  }
  .news-page .news .news-descr h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
  .news-page .news .news-descr > p {
    margin-top: 15px;
  }
  .news-page .news .news-descr a {
    margin-top: 24px;
    width: 100%;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
  }
  .news-page .news .news-descr .tegs {
    margin-top: 18px;
    flex-wrap: wrap;
  }
  .news-page .owl-carousel .owl-nav button {
    margin: 0px 50px 0px 50px;
  }
  .news-page .owl-carousel .news-item .news-container {
    height: 142px;
  }
  .news-page .owl-carousel .news-item .news-container .news-img {
    max-width: 180px;
    height: 100%;
  }
  .news-page .owl-carousel .news-item .news-container .news-img img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
  }
  .news-page .owl-carousel .news-item .news-container .news-wrap h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
  .news-page .owl-carousel .news-item .news-container .news-wrap p {
    max-width: 140px;
    max-height: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
  }
}
.email {
  width: 100%;
  height: 313px;
  padding: 47px 165px 47px 165px;
  background: url(../img/banner-email.png) no-repeat right, #4A3AD1;
}
.email .email-container {
  display: flex;
  justify-content: space-between;
}
.email .email-container .email-wrapper {
  height: 210px;
  position: relative;
  max-width: 296px;
}
.email .email-container .email-wrapper img {
  width: 190px;
  height: auto;
}
.email .email-container .email-wrapper p {
  margin-top: 18px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.email .email-container .email-wrapper .buttons {
  position: absolute;
  bottom: 0px;
  display: flex;
}
.email .email-container .email-wrapper .buttons button {
  cursor: pointer;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  width: 140px;
  height: 48px;
  border-radius: 18px;
  border: 0px;
}
.email .email-container .email-wrapper .buttons .contact-button {
  background-color: #000;
  color: #FFFFFF;
  margin-right: 16px;
}
.email .email-container .email-form > a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.email .email-container .email-form .email-form__links {
  margin-top: 28px;
}
.email .email-container .email-form .email-form__links a img {
  width: 32px;
  height: 32px;
  margin-right: 76px;
}
.email .email-container .email-form .email-form__wrapper {
  margin-top: 22px;
}
.email .email-container .email-form .email-form__wrapper p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.email .email-container .email-form .email-form__wrapper form {
  display: flex;
  flex-direction: column;
  margin-top: 9px;
}
.email .email-container .email-form .email-form__wrapper form .form-wrapper {
  display: flex;
}
.email .email-container .email-form .email-form__wrapper form textarea:focus,
.email .email-container .email-form .email-form__wrapper form input:focus {
  outline: none;
}
.email .email-container .email-form .email-form__wrapper form input[type=email] {
  width: 324px;
  height: 54px;
  border: 0px;
  border-radius: 11px 0px 0px 11px;
  padding: 17px 24px 17px 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
}
.email .email-container .email-form .email-form__wrapper form input[type=email]::-moz-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
}
.email .email-container .email-form .email-form__wrapper form input[type=email]::placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
}
.email .email-container .email-form .email-form__wrapper form input[type=submit] {
  height: 54px;
  border: 0px;
  padding: 19px 16px 19px 16px;
  background-color: #000;
  color: #FFFFFF;
  border-radius: 0px 11px 11px 0px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  cursor: pointer;
}
.email .email-container .email-form .email-form__wrapper form .checkbox {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.email .email-container .email-form .email-form__wrapper form .checkbox label {
  margin-left: 14px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

@media screen and (max-width: 1100px) {
  .email {
    padding: 47px 50px 47px 50px;
  }
}
@font-face {
  font-family: Montserrat-f;
  src: url(../fonts/Montserrat-Regular.ttf);
}
:root {
  --index: calc(1vw+1vh);
  --button-color: #6844D0;
}

body {
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
  font-family: "Raleway";
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 960px) {
  html, body {
    overflow-x: hidden;
  }
}
a {
  all: none;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.02em;
  color: #000000;
}

.button {
  background-color: var(--button-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  border: 1px solid #4A3AD1;
  cursor: pointer;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .button {
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.02em;
  }
  section {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.main-content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.main-content section {
  max-width: 1100px;
  width: 100%;
}

.modal {
  max-width: 100% !important;
  height: 100%;
  background-color: #fff;
  border-radius: 15px !important;
  padding: 0px !important;
}
.modal a.close-modal {
  top: 32px !important;
  right: 32px !important;
  background: url(../img/main/close.svg) !important;
}

.team-modal {
  max-width: 734px !important;
}
.team-modal .team-avatar {
  width: 300px;
  height: 395px;
  position: relative;
}
.team-modal .team-avatar img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  max-width: 300px;
  max-height: 395px;
  border-radius: 15px 0px 0px 15px;
}
.team-modal .modal-container {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  gap: 52px;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.team-modal .modal-container .modal-wrap {
  max-width: 350px;
  display: flex;
  flex-direction: column;
}
.team-modal .modal-container .modal-wrap .name h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.02em;
}
.team-modal .modal-container .modal-wrap .role p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
}
.team-modal .modal-container .modal-wrap .social {
  height: 24px;
  border: 1px solid black;
  margin-top: 32px;
  display: flex;
  flex-direction: row;
}
.team-modal .modal-container .modal-wrap .descr {
  margin-top: 24px;
}
.team-modal .team-mobile-img {
  display: none !important;
}

.order {
  width: 578px !important;
  background-color: #fff;
}
.order .modal-container {
  display: flex;
  flex-direction: column;
  padding: 44px 51px 39px 51px;
  width: 100%;
  height: 100%;
}
.order .modal-container h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.02em;
  color: #000000;
}
.order .modal-container p {
  margin-top: 8px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.order .modal-container .contact-form {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
}
.order .modal-container .contact-form input::-webkit-outer-spin-button,
.order .modal-container .contact-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.order .modal-container .contact-form textarea:focus,
.order .modal-container .contact-form input:focus {
  outline: none;
}
.order .modal-container .contact-form > input {
  margin-top: 12px;
  border: 0px;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 60px;
  padding-left: 23px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #000000;
}
.order .modal-container .contact-form > input::-moz-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #000000;
}
.order .modal-container .contact-form > input::placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #000000;
}
.order .modal-container .contact-form input[type=number] {
  font-family: Montserrat-f;
}
.order .modal-container .contact-form .contact-form__wrap {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.order .modal-container .contact-form .contact-form__wrap input[type=checkbox] {
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.order .modal-container .contact-form .contact-form__wrap label {
  margin-left: 14px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #000000;
}
.order .modal-container .contact-form .contact-form__wrap .politic {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order .modal-container .contact-form .contact-form__wrap input[type=submit] {
  margin-top: 18px;
  width: 212px;
  height: 51px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  border: 0px;
  border-radius: 18px;
  background-color: #6844D0;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .modal {
    max-width: 300px !important;
    min-height: 695px;
  }
  .modal .modal-container {
    flex-direction: column;
  }
  .modal .modal-container .team-desktop-img {
    display: none;
  }
  .modal .modal-container .team-mobile-img {
    display: block !important;
  }
  .modal .modal-container img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 322px !important;
    border-radius: 15px 15px 0px 0px !important;
  }
  .modal a.close-modal {
    display: none !important;
  }
  .team-modal .modal-wrap {
    margin-top: 64px;
    justify-content: center;
    height: 100%;
    bottom: 0px;
    padding: 20px;
  }
  .team-modal .modal-wrap .name h1 {
    font-weight: 600;
    font-size: 24px !important;
    line-height: 28px !important;
    letter-spacing: 0.02em;
  }
  .team-modal .modal-wrap .role p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .team-modal .modal-wrap .descr p {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
  }
  .team-modal .team-avatar {
    width: 100%;
    height: 322px;
    position: relative;
  }
  .team-modal .team-avatar img {
    width: 322px;
    height: 300px;
  }
  .order {
    height: auto;
  }
  .order .modal-container {
    padding: 50px 20px;
  }
  .order .modal-container h1 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.02em;
  }
}