* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-mobile {
  display: none;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #FFFFFF;
  height: 100px;
}
.navbar .navbar-logo img {
  width: 156px;
  height: 45px;
}
.navbar a {
  text-decoration: none;
}

.navbar__mobile-lang {
  display: none;
}

.menu-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 3vw;
  list-style: none;
}
.menu-list .menu-list__item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
}
.menu-list .menu-list__item a {
  color: #000;
}

.nav-wrap {
  display: flex;
  align-items: center;
  gap: 3vw;
}
.nav-wrap .nav-lang {
  display: flex;
  gap: 4px;
  text-decoration: none;
  align-items: center;
}
.nav-wrap .nav-lang .lang-active {
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 16px !important;
}
.nav-wrap .nav-lang a {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

.nav-button {
  width: 148px;
  height: 48px;
}

#checkbox__toggle {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.nav-line {
  background-color: #4A3AD1;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
  content: "";
}
.nav-line::before, .nav-line::after {
  background-color: #4A3AD1;
  content: "";
  display: block;
  position: absolute;
  transition: al 0.3s;
  width: 100%;
  height: 2px;
}
.nav-line::before {
  top: 7px;
}
.nav-line::after {
  top: -7px;
}

@media screen and (max-width: 960px) {
  .navbar {
    justify-content: space-between;
    padding-left: 21px;
    padding-right: 21px;
  }
  .menu {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
  }
  .menu .menu-list {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 32px;
    margin-top: 64px;
    gap: 72px;
    background: url(../img/burger-mobile__bg.svg) no-repeat right;
    background-color: transparent;
  }
  .menu .menu-list__item {
    font-family: "Raleway-f";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.02em;
  }
  .menu .menu-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu .menu-mobile .nav-lang {
    display: flex;
    margin-top: 85px;
    align-items: center;
  }
  .menu .menu-mobile .nav-lang .lang-ua {
    margin-right: 32px;
  }
  .menu .menu-mobile .nav-lang .nav-lang__img {
    margin-right: 6px;
  }
  .menu .menu-mobile .nav-lang .lang {
    font-family: Raleway-f;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
  }
  .menu .menu-mobile .nav-lang .lang-active {
    font-family: Raleway-f;
    font-style: normal;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
  }
  .menu .button {
    width: 80%;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 116px;
  }
  #checkbox__toggle:checked ~ .menu {
    display: block;
    max-height: 100%;
    transition: all 0.5s;
  }
  #checkbox__toggle:checked ~ .hamburger .nav-line {
    background-color: transparent;
  }
  #checkbox__toggle:checked ~ .hamburger .nav-line::before {
    transform: rotate(-45deg);
    top: 0;
  }
  #checkbox__toggle:checked ~ .hamburger .nav-line::after {
    transform: rotate(45deg);
    top: 0;
  }
  .hamburger {
    display: block;
    padding: 20px 0;
  }
  .nav-wrap {
    display: none;
  }
}
@font-face {
  font-family: Raleway-f;
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: Montserrat-f;
  src: url(../fonts/Montserrat-Regular.ttf);
}
:root {
  --index: calc(1vw+1vh);
  --button-color: #6844D0;
}

body {
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
  font-family: Raleway-f;
}

.button {
  background-color: var(--button-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  border: 1px solid #4A3AD1;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #fff;
}